root = true

[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true

[*.cs]
indent_style = space
indent_size = 4

[*.csproj]
indent_style = space
indent_size = 2

[*.sln]
end_of_line = crlf

[*.slnx]
end_of_line = crlf

[*.xaml]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2

[*.xml]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2

[*.yaml]
indent_style = space
indent_size = 2

[*.nsi]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true

[*.nsh]
charset = utf-8-bom
end_of_line = crlf
insert_final_newline = true
